.card {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  color: black;
  background-color:#f8e9d7;
}


.navbar-toggler-icon{
  color:wheat;
}

.purple {
  background: #667bba;
}

.pink {
  background: #f8e9d7;
  color: #667bba;
}
#homeimg{
  position:relative;
  vertical-align: middle;
  float: left;
}

.figure{
  margin: 0px 12px 0px 12px;   
}
.subplot{
  text-align:center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px;
  display:inline;

  /* margin: 6px 12px 6px 12px; */
}
.subplot a:link{
  color: black;
}
.subplot a:visited{
  color: black;
}

h1{
  font-weight: 750;
  color: #667bba;
}


h3{
  text-transform: uppercase;
  letter-spacing: 3px;
}

.vizcap{
  color: black;
  text-align:center;
  text-transform: uppercase;
  letter-spacing: 3px;

}

@media  screen and (max-width: 1000px) and (min-width: 767px){
  figcaption{
    font-size:65%;
  }

  .shrink{
    font-size:125%;
  }
}
/* BIG */
@media  screen and (max-width: 992px)  {
  .color2 {
    background-color: #667bba;}
    
  .color2 a{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #f8e9d7;}
  .color2 a:visited{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #f8e9d7;}
    }
  #tog-color{
    background-color: #f8e9d7;
  }
  .navbar-nav{
    position: relative;
  }
  .dropdown-menu a:visited{
    color:black;
  }
  .dropdown-menu a{
    text-align: left;
    color:black;
    width: max-content;
  }
  h5{
    text-align: center;
    color: #667bba;
    font-weight: bolder;
  }
  .select-thumb{
    background-color: #f8e9d7;
    font-weight: bold;
  }
/* SMALL */
@media  screen and (min-width: 991px)  {
  .color1{
    background-color: #f8e9d7;}
    
  .color1 a{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:black;
  }
  .color1 a:visited{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:black;
  }
  .navbar-nav{
    position: absolute;
    right: 0px;
  }
}
/* switch h1 to h3 when less than 1000px width */
/* 767px width rearranges vizualization */
/* 575px width rearranges subplots */
/* .color1 {color: #156795;}
.color2 {color: #667bba;}
.color3 {color: #d399cc;}
.color4 {color: #f8c9d4;}
.color5 {color: #f8e9d7;} */