.navbar-toggler-icon{
  color:#F9EDDC;
}
.card {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
}
h4{
  color: #156795;
}
#homeimg{
  position:relative;
  vertical-align: middle;
  float: left;
}
#vizimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}
.figure{
  margin: 0px 12px 0px 12px;   
}
.subplot{
  text-align:center;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding: 5px;
  display:inline;
}
.subplot a:link{
  color: #156795;
}
.subplot a:visited{
  color: #156795;
}
h1{
  font-weight: 750;
  color: #667bba;
}
h3{
  text-transform: uppercase;
  letter-spacing: 3px;
}

.navbar-nav{
  position: relative;
}
.dropdown-item a:visited{
  color:black;
}
.dropdown-item a{
  text-align: left;
  color:black;
  width: max-content;
}
h5{
  text-align: center;
  color: #667bba;
  font-weight: bolder;
  padding-top: 3%;
}
.select-thumb img{
  /* background-color: #F8C9D4; */
  border:3px solid #156795;
  border-radius: 10px;
  padding: 2px;
  font-weight: bold;
  text-decoration: none;
}

/* LARGE */
@media  screen and (min-width: 991px)  {
  .bgcolor1{
    background-color: #f8e9d7;
  }  
  .home-txt1 a{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#156795;
  }
  .home-txt1 a:visited{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#156795;
  }
  .navbar-nav{
    position: absolute;
    right: 0px;
  }
  .nav-item a{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:black;
  }
  .nav-item a:visited{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:black;
  }
  .bgcolor4{
    background-color: #FEFBF6;
  }
}
/* MEDIUM */
@media  screen and (max-width: 1130px) and (min-width: 992px){
  figcaption{
    font-size:80%;
  }
  .shrink{
    font-size:125%;
  }
}
/* SMALL */
@media  screen and (max-width: 992px)  {
  .bgcolor2 {
    background-color: #667bba;
  }
  .home-txt1 a{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#F8E9D7;
  }
  .home-txt1 a:visited{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#F8E9D7;
  }
  .nav-item a{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#F8E9D7;
  }
  .nav-item a:visited{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#F8E9D7;
  }
  .bgcolor3{
    background-color: #D8DEEE;
  }
 
  .dropdown-menu a{
    color:#d399cc;
  }
  .dropdown-menu a:visited{
    color:#d399cc;
  }
}


/* Color Scheme */
/* .color1 {color: #156795;} */
/* .color2 {color: #667bba;} */
/* .color3 {color: #d399cc;} */
/* .color4 {color: #f8c9d4;} */
/* .color5 {color: #f8e9d7;} */